@model TesteTJJUD.Models.Livro

@{ ViewBag.Title = "Cadastro";}

@Html.ValidationSummary(true, "", new { @class = "text-danger" })

@using (Html.BeginForm())
{
    <div>
        <label>Título</label>
        @Html.TextBoxFor(model => model.Titulo, new { @class = "form-control", @maxlength = "20" })
    </div>
    <div>
        <label>Editora</label>
        @Html.TextBoxFor(model => model.Editora, new { @class = "form-control" })
    </div>
    <div>
        <label>Edição</label>
        @Html.TextBoxFor(model => model.Edicao, new { @class = "form-control", type = "number" })
    </div>
    <div>
        <label>Ano de Publicação</label>
        @Html.TextBoxFor(model => model.AnoPublicacao, new { @class = "form-control" })
    </div>

    <div>
        <label>Autores</label>
        @foreach (var autor in ViewBag.Autores)
        {
            <div>
                <input type="checkbox" name="autoresSelecionados" value="@autor.CodAu" /> @autor.Nome
            </div>
        }
    </div>

    <div>
        <label>Assuntos</label>
        @foreach (var assunto in ViewBag.Assuntos)
        {
            <div>
                <input type="checkbox" name="assuntosSelecionados" value="@assunto.CodAs" /> @assunto.Descricao
            </div>
        }
    </div>

    if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            <ul>
                @foreach (var modelState in ViewData.ModelState.Values)
                {
                    foreach (var error in modelState.Errors)
                    {
                        <li>@error.ErrorMessage</li>
                    }
                }
            </ul>
        </div>
    }


    <button type="submit" class="btn btn-primary">Salvar</button>


}

