@model IEnumerable<TesteTJJUD.Models.Livro>

@{
    ViewBag.Title = "Livros";
}

<h2>Cadastro de Livros</h2>


<p><a href="@Url.Action("Create")" class="btn btn-success btn-sm">Novo Livro</a></p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Titulo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    <a href="@Url.Action("Details", new { id = item.Codl })" class="btn btn-info btn-sm">Detalhes</a>
                    <a href="@Url.Action("Edit", new { id = item.Codl })" class="btn btn-warning btn-sm">Editar</a>
                    <a href="@Url.Action("Delete", new { id = item.Codl })" class="btn btn-danger btn-sm">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
