@model IEnumerable<TesteTJJUD.Models.Assunto>
@{
    ViewBag.Title = "Index";
}




<h2>Assuntos</h2>
<p><a href="@Url.Action("Create")" class="btn btn-success">Novo Assunto</a></p>
<table class="table">
    <tr>
        <th>Descrição</th>
        <th>Ações</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Descricao</td>
            <td>
                <a href="@Url.Action("Details", new { id = item.CodAs })" class="btn btn-info btn-sm">Detalhes</a>
                <a href="@Url.Action("Edit", new { id = item.CodAs })" class="btn btn-warning btn-sm">Editar</a>
                <a href="@Url.Action("Delete", new { id = item.CodAs })" class="btn btn-danger btn-sm">Excluir</a>
            </td>
        </tr>
    }
</table>

